button {
    all: unset;
}

.trigger {
    svg {
        position: fixed;
        top: 60px;
        left: 7.5vw;

        transform: translate(-50%, -50%);

        font-size: 3rem;

        cursor: pointer;
    }

}

.dropdownMenuContent {
    position: fixed;
    left: 0;
    top: 98px;
    min-width: 300px;
    max-width: 20vw;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 0 0 1rem 0;
    padding: 1rem;
    transition-duration: 500ms;


    z-index: 3;
}




.item {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    font-weight: 200;

    color: black;

    border-radius: 0.5rem;

    height: fit-content;

    padding: 0 1rem;
    margin: 0.5rem;

    cursor: pointer;
}

.separator {
    height: 100%;
    width: 1px;
    border-color: black;
    color: black;
    font-size: 15px;
    line-height: 20px;
}